{% extends 'base.html.twig' %} {% block body %}
<div id="wrapper">
    <div id="container">

        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                {% if is_granted("ROLE_SUPER_ADMIN") %}
                <form name="appbundle_article" method="post">
                    <div id="appbundle_article">
                        <div>
                            <label for="appbundle_article_published">Published</label><input type="checkbox" id="appbundle_article_published"
                                name="appbundle_article[published]" value="1">
                        </div>
                        <div>
                            <label for="appbundle_article_title" class="required">Title</label>
                            <input type="text" id="appbundle_article_title" name="appbundle_article[title]" required="required" maxlength="100">
                        </div>
                        <div>
                            <label for="appbundle_article_content" class="required">Content</label>
                            <textarea id="appbundle_article_content" name="appbundle_article[content]" required="required" rows="5" cols="50"></textarea>
                        </div>
                        <div>
                            <label for="appbundle_article_category">Category</label>
                            <select id="appbundle_article_category" name="appbundle_article[category]">
                                <option value=""></option>
                                <option value="1">Video Game</option>
                                <option value="2">Music</option>
                                <option value="3">Movie</option>
                                <option value="4">Technlology</option>
                                <option value="5">Comic</option>
                                <option value="6">Manga</option>
                                <option value="7">Science</option>
                            </select>
                        </div>
                        <input type="hidden" id="appbundle_article__token" name="appbundle_article[_token]" value="VjzG2S-znG9v3JYR9QumaiMCsku_wz6E6fyB6ZbGKAQ">
                    </div>
                    <input type="submit" value="Create">
                </form>
                    {{ render(controller( 'AppBundle:Article:index' )) }}
                {% else %} 
                    {{ render(controller( 'AppBundle:Article:published' )) }}
                {% endif %} 
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block stylesheets %}
<style>
    body {
        background: #F5F5F5;
        font: 18px/1.5 sans-serif;
    }

    h1,
    h2 {
        line-height: 1.2;
        margin: 0 0 .5em;
    }

    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 21px;
        margin-bottom: 1em;
    }

    p {
        margin: 0 0 1em 0;
    }

    a {
        color: #0000F0;
    }

    a:hover {
        text-decoration: none;
    }

    code {
        background: #F5F5F5;
        max-width: 100px;
        padding: 2px 6px;
        word-wrap: break-word;
    }

    #wrapper {
        background: #FFF;
        margin: 1em auto;
        max-width: 800px;
        width: 95%;
    }

    #container {
        padding: 2em;
    }

    #welcome,
    #status {
        margin-bottom: 2em;
    }

    #welcome h1 span {
        display: block;
        font-size: 75%;
    }

    #icon-status,
    #icon-book {
        float: left;
        height: 64px;
        margin-right: 1em;
        margin-top: -4px;
        width: 64px;
    }

    #icon-book {
        display: none;
    }

    @media (min-width: 768px) {
        #wrapper {
            width: 80%;
            margin: 2em auto;
        }
        #icon-book {
            display: inline-block;
        }
        #status a,
        #next a {
            display: block;
        }

        @-webkit-keyframes fade-in {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
        @keyframes fade-in {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
        .sf-toolbar {
            opacity: 0;
            -webkit-animation: fade-in 1s .2s forwards;
            animation: fade-in 1s .2s forwards;
        }
    }
</style>
{% endblock %}