 {% block header %}

    <div class="row header">
        <div class="col-md-12">
            <h1>Geek Letter</h1>
            <h3 class="line-1 anim-typewriter">Bienvenue sur "Geek Letter"<br>Le site sur la culture geek !</h3>
        </div>
    </div>

 {% endblock %}
