{% block body %}
    <h1>Comment creation</h1>

    {{ form_start(form, {'action': path('comment_new')}) }}
        {{ form_widget(form) }}

        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('comment_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
